* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  background-image: url("./img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#Logo__Div {
  margin-right: 750px;
}
#Burger__Enable {
  display: none;
}
#Burger__Disable {
  display: none;
}
#Logo__Div img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 203px;
  height: 66px;
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: rgb(41, 36, 49);
}
nav ul li {
  list-style: none;
  margin-top: 35px;
  font-size: 20px;
  margin-right: 50px;
}
nav ul li a {
  color: rgb(230, 230, 230);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Content__Image {
  margin-top: 200px;
  margin-left: 150px;
  width: 400px;
  height: 250px;
}
#Content_Image__Text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  width: 500px;
  margin-top: -200px;
  margin-left: 600px;
}
@keyframes vis{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.Contact__Main{
  animation: vis;
  animation-duration: 1s;
  margin: 100px auto;
  width: 600px;
  height: 400px;
  background-color: rgb(20, 14, 31);
  border-radius: 15px;
}
.Contact__Main h1{
  color: white;
  padding-top: 25px;
  text-align: center;
}
@media screen and (max-width: 1400px) {
  #Logo__Div {
    margin-right: 550px;
  }
  body {
    background-repeat: repeat-y;
  }
}
@media screen and (max-width: 1100px) {
  #Content_Image__Text {
    width: 400px;
    color: white;
  }
}
@media screen and (max-width: 1250px) {
  #Logo__Div {
    margin-right: 300px;
  }
}
@media screen and (max-width: 1000px) {
  #Logo__Div {
    margin-right: 200px;
  }
  #Content_Image__Text {
    width: 300px;
    color: white;
    margin-top: -250px;
  }
}
@media screen and (max-width: 900px) {
  #Logo__Div {
    margin-right: 100px;
  }
  #Content__Image {
      margin-left: 250px;
    
  }
  #Content_Image__Text{
      display: none;
  }
}
@media screen and (max-width: 800px) {
  #Burger__Enable {
    display: block;
  }
  #Content__Image {
    margin-left: 200px;
  width: 266px;
  height: 166px;
}

  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li a {
    color: rgb(230, 230, 230);
    padding: 10px;
    background-color: blueviolet;
    text-decoration: none;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  nav ul li {
    display: none;
    list-style: none;
    margin-top: 25px;

    font-size: 20px;
    margin-right: 0px;
  }
  nav ul {
    padding-bottom: 25px;
  }
  #Logo__Div {
    margin-left: 100px;
  }
}
@media screen and (max-width: 700px){
    #Content__Image {
      display: none;
    }
}
@media screen and (min-width: 900px) {
  li {
    display: block;
  }
}
