*{
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
}
#Logo__Div{
    margin-right: 750px;
}
#Burger__Check{
    display: none;
}
#Logo__Div img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 203px;
    height: 66px;
    cursor: pointer;
}
nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: rgb(41, 36, 49);
}
nav ul li{
    list-style: none;
    margin-top: 35px;
    font-size: 20px;
    margin-right: 50px;

}
nav ul li a{
    color: rgb(230, 230, 230);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 1400px){
    #Logo__Div{
        margin-right: 550px;
    }
}
@media screen and (max-width: 1250px){
    #Logo__Div{
        margin-right: 300px;
    }
}
@media screen and (max-width: 1000px){
    #Logo__Div{
        margin-right: 200px;
    }
}
@media screen and (max-width: 900px){
    #Logo__Div{
        margin-right: 100px;
    }
}
@media screen and (max-width: 800px){
   #Burger__Check{
       display: inline;
    
       width: 25px;
       height: 25px;
   }
   #Burger__Check:checked{

   }
    nav ul {
     flex-direction: column;
     align-items: center;
    }
    nav ul li a{
        color: rgb(230, 230, 230);
        padding: 10px;
        background-color: blueviolet;
        text-decoration: none;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    nav ul li{
        list-style: none;
        margin-top: 25px;
        
        font-size: 20px;
        margin-right: 0px;
    
    }
    nav ul{
        padding-bottom: 25px;
    }
    #Logo__Div{
        margin-left: 100px;
    }
}